@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Merriweather', 'sans-serif';
    background-color: #808080;
    color: white;
    text-align: center;
}

header {
    height: 200px;
    
}
#header-logo {
    float: left;
    margin: 20px 40px;
    color: #E1C16E;
}

#nav-bar {
 
 
}

#nav-bar ul {
    
    margin-top: 30px;
    float: right;
    list-style: none;
    
}

#nav-bar li {
    display: inline;
    margin-right: 50px;
}

#nav-bar a {
    text-decoration: none;
    color: #E1C16E;
}

#nav-bar a:hover {
    color: #ffff;
}


#nav-bar, #header-logo {
    line-height: 50px;
}

.main-info {
    text-align: center;
    width: 100%;
    
}

.main-info h2 {
    color: #E1C16E;
    
}

.main-img {
    background-image: url(../images/swedish-food.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;

}

