@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Playfair Display', "sans-serif";
  background-color: #20283c;
  color: #e1c16e;
  max-width: 2000px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  overflow-x: hidden ;
  
}

/* Header */

header {
  height: 110px;
  border-bottom: 2px solid #e1c16e;
  line-height: 50px;
}
.header-logo {
  display: block;
  float: left;
  margin: 20px 40px;
  color: #e1c16e;
  border: 3px solid #e1c16e;
  padding: 5px 7px;
  letter-spacing: 3px;
  font-size: 2rem;
}

.nav-bar-list {
  margin-top: 30px;
  float: right;
  list-style: none;
}

.nav-bar-list li {
  display: inline;
  margin-right: 50px;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 5px;
}

.nav-bar-link {
  text-decoration: none;
  color: #e1c16e;
}

.nav-bar-link:hover {
  color: RGB(169, 169, 169);
}

/* main */

.main-info {
  width: 100%;
  height: 900px;
  margin-top: 0px;
  border-bottom: 3px solid #e1c16e;
}

.main-info h2 {
  margin-top: 40px;
  font-size: 3rem;
}

.main-info p {
  margin: 30px auto;
  font-size: 1.3rem;
  color: white;
  width: 60%;
  letter-spacing: 0.06em;
}

#main-img {
  background-image: url(../images/IMG-7615.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  border-bottom: 3px solid #e1c16e;
}

#main-img h1 {
  color: #fff;
  font-size: 3rem;
  padding-top: 50px;
}

.card {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/bar-brahe-0.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  border-bottom: 3px solid #e1c16e;
  color: #fff;
  width: 100%;
  height: 400px;
}

.event {
  background-color: black;
  width: 40%;
  height: 100px;
  padding: 5px 5px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 19px;
}

.event h3 {
  font-size: 1.4rem;
  letter-spacing: 0.04em;
}

.event h4 {
    font-size: 1.1rem;
}

.event h5 {
    font-size: 0.9rem;
}


/* opening hours*/

.opening-hours {
  color: white;
  width: 25%;
  height: 25%;
  margin: 40px auto;
  border: 3px solid #e1c16e;
  border-radius: 4px;
  overflow: hidden;
}

.opening-hours ul {
  font-size: 150%;
  list-style: none;
}

.opening-hours li {
  border: 1px solid #e1c16e;
  padding: 9px;
  letter-spacing: 0.09em;
}

.opening-hours p {
  padding: 9px 0;
  letter-spacing: 0.1em;
}

.opening-hours h2 {
  padding: 9px 0;
  letter-spacing: 0.09em;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  border-top: 3px solid #e1c16e;
  color: #fff;
}

.social-media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 25px;
}

.social-media ul {
  list-style: none;
}

.social-media a {
  text-decoration: none;
}

.social-media > li {
display: inline;
  margin: 0 75px;
  font-size: 300%;
}

.social-media i {
  color: #fff;
}

/* booking page */

.booking {
  background-image: url(../images/AdobeStock_360902167-scaled.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.booking-form h2 {
    letter-spacing: 0.05em;
    font-size: 1.6rem;
    padding-top: 9px;
    padding-bottom: 5px;
}

.booking-sect {
  height: 700px;
  width: 100%;
  padding-top: 50px;
}

.booking-sect input[type="text"],
input[type="tel"] {
  display: inline-block;
  width: 40%;
  height: 25px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.849);
  margin-top: 3px;
}



.booking-form {
  width: 30%;
  height: 480px;
  border: 2px solid #e1c16e;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.575);
  margin: 0 auto;

}
label {
    display: inline-block;
    margin-right: 5px;
 }
 

.input-group  {
    font-size: 1.3rem;
    letter-spacing: 0.05em;
    color: #fff;
    margin-top: 9px;

}
.input-group2  {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    letter-spacing: 0.05em;
    color: #fff;
    margin: 5px auto;
    width: 25%;

    
}

.input-group2 label {
    padding-top: 10px;
}

#time, #datetime {
    margin-top: 8px;
}

#pnumber {
    width: 40%;
    margin-right: 47px;
}


.submit-btn {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.521);
    border: 3px solid #e1c16e;
    border-radius: 3px;
    font-size: 1.5rem;
    margin-top: 15px;
    width: 130px;
    height: 50px;
    padding: 8px 10px;
    letter-spacing: 0.11em;
}

.submit-btn:hover {
    color: RGB(169, 169, 169);
}


/* menu page */

.menu-main {
  background-image: url(../images/alacarte-5-wide.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.menu-list {
  text-align: center;
  width: 100%;
  padding-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
}

.menu {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.719);
  border: 3px solid #e1c16e;
  border-radius: 2%;
  justify-self: center;
}

.menu-list h2 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 4%;
}

.menu ul {
  list-style: none;
  width: 100%;
  color: #fff;
}

.menu li {
  margin-bottom: 3%;
  font-size: 1.3rem;
}



/* contact page */

.contact-main {
    background-image: url(../images/Stranger-43-1-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}


.contact-info {
    padding-top: 50px;
}

.info-card {
    border-radius: 4px;
    width: 25%;
    height: 440px;
    background-color: rgba(0, 0, 0, 0.719);
    margin: 0 auto;
    padding: 15px;
}

.google-location {
    width: 70%;
    height: 220px;
    margin: 10px 0;
    border-radius: 4px;
}

.contact-ep {
    margin-top: 15px;
}
.contact-link {
    color: #fff;
    border-radius: 4px;
    padding: 5px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 1.5rem;
}

.info-card h1 {
    font-size: 1.6rem;
    letter-spacing: 0.04em;
}

.adress-p {
    color: #fff;
    font-size: 1.3rem;
}

/* for small mobile screens*/

@media screen and (max-width: 549px) {
  html {
    font-size: 60%;
    text-align: center;
    overflow-x: none;
  }

  /* Header and navbar */
  .header {
    width: 100%;
    height: 30%;

    
  }

  .nav-bar li {
    margin: 0 auto;
  }

  /* main index */
  
  .main-info p {
    font-size: 1rem;
  }

  /*booking page */


  .booking {
    height: 700px;
    width: 100%;
  }

  .booking-sect {
    width: 100%;

  }

  .booking-form {
    width: 200px;
    height: 65%;
  }

  #pnumber {
    width: 35%;
    margin-right:0;
  }
  
  .input-group {
    width: 100%;
  }

  /* Contact page */

  .contact-main {
    width: 100%;
    padding: 30px 0;
  }

  .contact-info {
    width: 70%;
    padding-bottom: 30px;
    margin: 0 auto;
  }

  .info-card {
    width: 50%;
    height: 90%;
  }

}


/* For tablets & small laptops screens */

@media screen and (max-width: 881px) {
    html {
      font-size: 50%;
      text-align: center;
      overflow-x: none;
    }





header {
    width: 100%;
    height: 30%;
}




 /* Nav bar */

 .nav-bar {
   display: inline-block;
 }



.nav-bar-link {
  font-size: 1.3rem;
}

.nav-bar-list li a {
  padding: 4px;
  border-radius: 2px;
  
}

.nav-bar-link:hover {
  border-bottom: 2px solid #e1c16e;
}


/* main information */

.main-info h2 {
  font-size: 2.0rem;
  padding: 0 1rem;
}

/* events */

.card {
  display: grid;
  grid-template-columns: 1fr;
  height: 800px;
  grid-row: auto;
  background-size: cover;
  text-align: center;
 
}

.event {
  display: grid;
 
}



/* Opening hours section */

.opening-hours {
  width: 60%;
  
}

.opening-hours h2 {
  font-size: 100%;
}

.social-media {
  grid-template-columns:  1fr 1fr;
  gap: 1rem;
  justify-content: center;
}

.social-media li {
  justify-self: center;
  width: 100%;

}

/* Menu page */

.menu-main {
  height: 1800px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  

}
.menu {
 margin: 10px auto;
 padding: 7px;
  
}

/* Booking page */

.booking-sect {

padding-top: 150px;
}

.booking-form {
  width: 80%;
}


/* Contact page */

.contact-main {
  padding-top: 20%;
  width: 100%;
 
}

.info-card {
  width: 70%
}

}


/* laptop screens */

@media screen and (max-width: 1100px) {

  .header-logo {
    width: 25%;
    font-size: 1.4rem;
  }

  .event {
    width: 50%;
    height: 39%;
  }

  .opening-hours{
    width: 70%;
  }


  /* Booking page */

  .booking-form {
    width: 50%;

}

.info-card {
  width:50%;
}


}