@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Merriweather', 'sans-serif';
    background-color: grey;
    color: #E1C16E;
    text-align: center;
}

/* Header */

header {
    background-color: gray;
    height: 110px;
    border-bottom: 5px solid #E1C16E;
    
}
#header-logo {
    float: left;
    margin: 20px 40px;
    color: #E1C16E;
    border: 3px solid #E1C16E;
    padding: 5px 7px;
    
    
}


#nav-bar ul {
    
    margin-top: 30px;
    float: right;
    list-style: none;
}

#nav-bar li {
    display: inline;
    margin-right: 50px;
    font-size: 1.3rem;
    font-weight: 400;

    padding: 5px;

}

#nav-bar a {
    text-decoration: none;
    color: #E1C16E;
}

#nav-bar a:hover {
    color: RGB(169, 169, 169);
}


#nav-bar, #header-logo {
    line-height: 50px;
}

/* main */

.main-info {

    width: 100%;
    height: 900px;
    margin-top: 0px;
    border-bottom: 5px solid #E1C16E;

}

.main-info h2 {
    margin-top: 40px;
    font-size: 3rem;
    
    
}



.main-info p  {
    margin: 30px auto;
    font-size: 1.3rem;
    color: white;
    width: 60%;
}

#main-img {
    background-image: url(../images/IMG-7615.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    border-bottom: 5px solid #E1C16E;

}

#main-img h1 {
    color: #fff;
    font-size: 3rem;
    padding-top: 50px;
}

.card {
    display: flex;
    flex-direction: row;
    background-image: url(../images/bar-brahe-0.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    border-bottom: 5px solid #E1C16E;
    color: #fff;
    width: 100%;
    height: 400px;
}



.card div {
background-color: black;
width: 10%;
height: 100px;
padding: 5px 5px;
margin-top: 150px;
margin-left: 230px;

    
}

.card h2 {
    font-size: 2rem;
}

/* opening hours*/

.opening-hours {
    color: white;
    width: 25%;
    height: 25%;
    margin: 40px auto;
    border: 5px solid #E1C16E;
    overflow: hidden;
    
}

.opening-hours ul{
    font-size: 150%;
    list-style: none;
}

.opening-hours li {
    border: 1px solid #E1C16E;
}



/* footer */

footer {
    height: 100px;
    width: 100%;
    border-top: 5px solid #E1C16E;
    color: #fff;

}

.social-media {
    text-align: center;
    margin-top: 25px;
}

.social-media ul {
    list-style: none;

}

.social-media a {
    text-decoration: none;
}

.social-media > li {
    display: inline;
    margin: 0 75px;
    font-size: 300%;
}

.social-media i {
    color: #fff;

}


/* booking page */

#booking {
    background-image: url(../images/AdobeStock_360902167-scaled.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 699px;

}

.booking-sect {
    height: 700px;
    width: 100%;
    padding-top: 50px;

}

.booking-sect input[type=text] {
    width:40%;
    height: 25px;
    border-radius: 4px;
    background-color: rgba(245, 245, 245, 0.692);
}

.booking-sect input[type=tel] {
    width:40%;
    height: 25px;
    border-radius: 4px;
    background-color: rgba(245, 245, 245, 0.692);
}

.booking-form {
    width: 30%;
    height: 300px;
    border: 2px solid #E1C16E;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.459);
    margin: 0 auto;

}

.input-group{
    width:100%;
}

/* menu page */

#menu-main {
    background-image: url(../images/alacarte-5-wide.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 800px;
    width: 100%;
}

.menu-list {
    display: table;
    width: 100%;
    padding-top: 200px;
    
}

.menu {
    display: table-cell;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.459);
    margin-right: 20px;
    border: 3px solid #E1C16E;
}

.menu-list h1 {
    font-weight: 700;
    font-size: 2rem;
}

.menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    color: #fff;

}

.menu li {
    display: flex;
    flex-direction: column;
}
